body {
    background-color: lightskyblue;
}

.maintitle {
    font-size: 50px;
    display: block;
    font-style: italic;
    color: aliceblue;
    background-image: url(img/kaeya.jpg);
    background-size: contain;
}


.navmain {
    display: block;
    background-color: lightseagreen;
}

index.html aside {
    max-width: 1000px;
}

.choice {
    display: block;
    background-color: lightblue;
}

.choicedesc {
    display: inline-block;
}

.choicetitle {
    background-color:   rgb(108, 191, 197);
}

footer {
    position: static;
    float: right;
    max-width: 200px;
}

.footertop {
    display: block;
    background-color: whitesmoke;
}

/* CSS for downloads.html */


.downloadheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.downloadtest {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

#hmpgimgsamp {
    width: 600px;
    margin: 0 auto;
}

#current-image {
    width: 100%;
    max-height: 400px;
}

#imgchoicesamp {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.thumb {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
}

/* CSS for categories in downloads.html */

.categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: lightskyblue;
    padding: 10px;
}
.categories h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(108, 191, 197);
}



.category-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}

.category-images-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}


.image-wrapper {
    position: relative;
    margin: 10px;
    display: inline-block;
}

.image-wrapper:hover .download-button {
    display: block;
}

.download-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.download-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}